/* PAGE STYLING */

body {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 99vw;
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.animation {
  height: 450px;
  width: 450px;
  display: flex;
  fill: darkblue;
  animation: flower 3s infinite;
}

/* ANIMATION STYLING: */

@keyframes flower {
  from {
    -webkit-transform: rotate(0deg);
    height: 650px;
    width: 650px;
  }
  to {
    -webkit-transform: rotate(360deg);
    height: 350px;
    width: 350px;
  }
}
